server/target/
server/.idea/
server/nb-configuration.xml
server/good-game-server.iml
server/.vscode/settings.json
server/.settings/org.eclipse.m2e.core.prefs
server/.settings/org.eclipse.jdt.core.prefs
server/.settings/org.eclipse.core.resources.prefs
server/.project
server/.classpath
*.DS_Store
client/build/
.classpath
.idea/
.project
.settings/
good-game-server.iml
target/
/server/.nb-gradle/
server/bin/
server/.gradle/
server/build/
server/src/main/resources/public
server/.settings/org.eclipse.buildship.core.prefs
.vscode/settings.json
.gradle/
*.iml
